body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #111;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

section {
  margin-bottom: 30px;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
